/*
Theme Name: Ricardo Morales Law
Theme URI: http://www.rmoraleslaw.com/
Description: Child theme of Modernize WP Theme
Author: Elvis Morales
Author URI: http://www.elvismdev.com/
Template: modernize
Version: 0.1
*/

.body-wrapper .header-outer-wrapper {
	background-color: #d4d4d4;
}

#lang_sel_list li {
	height: 18px;
}

.gdl-page-content h2 {
	font-size: 25px;
	border-bottom: 1px solid;
	max-width: 300px;
}